@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  margin: 0;
  font-family: lato, sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input, select, details summary {
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
  font-family: Lato, sans-serif;
}

.container {
  padding: 0 calc(50% - 570px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 15px;
  }
}

.header {
  height: 100px;
  border-bottom: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 680px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 165px;
    padding: 15px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 878px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 160px;
  }
}

.header__logo {
  width: 167px;
  height: 51px;
  padding-left: 72px;
  display: block;
  background: url(img/logo.png) no-repeat;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__logo span {
  font-weight: 900;
  color: #f16d7f;
}

.header__input__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__browse {
  width: 80px;
  height: 38px;
  margin-left: 37px;
  padding-left: 8px;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header__browse__open {
  position: absolute;
  width: 232px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  display: -ms-grid;
  display: grid;
  z-index: 11;
}

.header__browse__open__carret i {
  margin-left: 101px;
  position: absolute;
  z-index: 100;
  margin-top: -18px;
  font-size: 30px;
  color: white;
}

.header__browse__open__p {
  border-bottom: 1px solid #e6e6e6;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
}

.header__browse__open a {
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #4f4f4f;
  margin: 0 5px 0 5px;
}

.header__browse__open a:hover {
  color: #f16d7f;
}

.header__input {
  font-family: lato, sans-serif;
  font-weight: 300;
  color: #a4a4a4;
  padding-left: 16px;
  padding-right: 16px;
  width: 317px;
  height: 36px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}

@media (max-width: 696px) {
  .header__input {
    width: auto;
  }
}

.header__input::-webkit-input-placeholder {
  font-family: lato, sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.header__input__button {
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  height: 40px;
  width: 36px;
  background-color: white;
  font-size: 14px;
  color: #a4a4a4;
}

.header__cart {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 879px) {
  .header__cart {
    margin: 0 auto;
  }
}

.header__cart_btn {
  position: relative;
  margin-left: 26px;
  height: 38px;
  width: 135px;
  padding-left: 17px;
  padding-right: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  border-radius: 3px;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.header__cart_btn:hover {
  background-color: white;
  color: #f16d7f;
}

.header__cart_btn i {
  margin-left: 8px;
}

.header__cart_btn__open {
  position: absolute;
  width: 222px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin-left: -50px;
  z-index: 11;
}

.header__cart_btn__open__product_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ececec;
  padding-bottom: 17px;
  margin-bottom: 17px;
}

.header__cart_btn__open__product_box div {
  margin-right: 20px;
}

.header__cart_btn__open__product_box div .cart_open_a {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.header__cart_btn__open__product_box div .cart_open_a:hover {
  color: #f16d7f;
}

.header__cart_btn__open__product_box div h2 {
  font-size: 10px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f;
}

.header__cart_btn__open__product_box div i {
  font-size: 12px;
  color: #ececec;
  letter-spacing: -0.3em;
  cursor: pointer;
}

.header__cart_btn__open__product_box div i:hover {
  color: #e4af48;
}

.header__cart_btn__open__text {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 17px 0 22px 0;
}

.header__cart_btn__open__a {
  width: 225px;
  height: 50px;
  border: 1px solid #eaeaea;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  margin-top: 10px;
}

.header__cart_btn__open__a:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

details .header__cart_btn:after {
  content: '\f0d8';
  font-family: "Font Awesome 5 free";
  margin-right: 7px;
  font-weight: 600;
  color: white;
  margin-left: 8px;
  margin-top: 5px;
}

details[open] .header__cart_btn:after {
  content: '\f0d7';
  font-weight: 600;
  color: white;
}

details .header__cart_btn::-webkit-details-marker {
  display: none;
}

details .header__browse:after {
  content: '\f0de';
  font-family: "Font Awesome 5 free";
  margin-right: 7px;
  font-weight: 600;
  color: #a4a4a4;
  margin-left: 8px;
  margin-top: 5px;
}

details[open] .header__browse:after {
  content: '\f0d7';
  font-weight: 600;
}

details .header__browse::-webkit-details-marker {
  display: none;
}

@media (max-width: 645px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-menu {
    position: -webkit-sticky;
    position: sticky;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 16px;
    top: 0;
    background-color: white;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 10;
  }
  .mobile-menu__btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .mobile-menu__icon {
    display: block;
    position: relative;
    background-color: #ececec;
    width: 90%;
    height: 4px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .mobile-menu__icon::after, .mobile-menu__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    width: 100%;
    height: 4px;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: #ececec;
  }
  .mobile-menu__icon::after {
    top: 8px;
  }
  .mobile-menu__icon::before {
    top: -8px;
  }
  .mobile-menu__container {
    position: absolute;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 999;
    height: 0;
    opacity: 1;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
    overflow: hidden;
    background-color: white;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__nav {
    opacity: 1;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__container {
    height: 200px;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
    background: transparent;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    top: 0;
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.mobile-menu__checkbox {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 51px;
  width: 680px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 727px) {
  .nav {
    width: auto;
  }
}

@media (max-width: 645px) {
  .nav {
    height: 200px;
    padding-bottom: 15px;
  }
}

.nav__a {
  border-bottom: 3px solid white;
  font-size: 14px;
  line-height: 23px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 425px) {
  .nav__a {
    font-size: 12px;
  }
}

.nav__a:hover ~ .megamenu {
  visibility: visible;
}

.nav__a:hover {
  border-bottom: 3px solid #f16d7f;
}

.megamenu {
  visibility: hidden;
  display: -ms-grid;
  display: grid;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0px 25px 20px 25px;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 51px;
  left: -66px;
  width: 800px;
  z-index: 1;
}

@media (max-width: 877px) {
  .megamenu {
    display: none;
  }
}

@media (max-width: 545px) {
  .megamenu {
    display: none;
  }
}

.megamenu:hover {
  visibility: visible;
}

.megamenu__col {
  display: -ms-grid;
  display: grid;
}

.megamenu__col__img {
  margin-top: 12px;
  position: relative;
  margin-left: -10px;
}

.megamenu__col__img h2 {
  position: absolute;
  font-size: 22px;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 0.03em;
  line-height: 28px;
  text-transform: uppercase;
  top: 50px;
  right: 29px;
  margin: 0 10px 12px 0;
}

.megamenu a {
  font-size: 14px;
  color: #646464;
  letter-spacing: 0.03em;
  line-height: 28px;
}

.megamenu a:hover {
  color: #f16d7f;
}

.promo {
  height: 614px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(img/promo_man.png) no-repeat 77% 0, #e8e8e8;
}

@media (max-width: 760px) {
  .promo {
    background-position-x: 25%;
    background-repeat: no-repeat;
  }
}

.promo__text {
  height: 92px;
  color: #222222;
  font-weight: 900;
  padding-left: 12px;
  border-left: 12px solid #f16d7f;
}

@media (max-width: 407px) {
  .promo__text {
    height: 85px;
  }
}

.promo__text__top {
  font-size: 60px;
  line-height: 0.68;
  letter-spacing: 0.025em;
}

@media (max-width: 407px) {
  .promo__text__top {
    font-size: 50px;
  }
}

@media (max-width: 348px) {
  .promo__text__top {
    line-height: 0.88;
  }
}

.promo__text__bot {
  margin-top: 11.5px;
  font-size: 40px;
}

@media (max-width: 348px) {
  .promo__text__bot {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.promo__text__bot span {
  color: #f16d7f;
}

.offer {
  margin-top: 98px;
}

@media (max-width: 583px) {
  .offer {
    display: -ms-grid;
    display: grid;
    gap: 26px;
  }
}

.offer__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px 19px;
  background-color: white;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}

.offer__text span {
  font-size: 30px;
  color: #f16d7f;
}

.offer__left {
  width: 50%;
}

@media (max-width: 583px) {
  .offer__left {
    width: auto;
  }
}

.offer__left__top {
  padding-top: 26px;
  height: 516px;
  background: url(img/offer_men.png) #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position-x: 70%;
  background-repeat: no-repeat;
}

@media (max-width: 760px) {
  .offer__left__top {
    background-position-x: 75%;
  }
}

.offer__left__bot {
  padding-top: 26px;
  margin-top: 20px;
  height: 235px;
  background: url(img/offer_acces.png) #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position-x: 70%;
  background-repeat: no-repeat;
}

.offer__right {
  width: 50%;
  margin-left: 20px;
}

@media (max-width: 583px) {
  .offer__right {
    margin: 0;
    width: auto;
  }
}

.offer__right__top {
  padding-top: 26px;
  height: 235px;
  background: url(img/offer_women.png) #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 760px) {
  .offer__right__top {
    background-position-x: 25%;
    background-repeat: no-repeat;
    padding-top: 120px;
  }
}

.offer__right__bot {
  padding-top: 26px;
  height: 516px;
  margin-top: 20px;
  background: url(img/offer_kids.png) #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 760px) {
  .offer__right__bot {
    background-position-x: 38%;
    background-repeat: no-repeat;
    padding-top: 401px;
  }
}

.main {
  margin-top: 100px;
}

.main__text {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 59px;
}

.main__text__top {
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
}

.main__text__bot {
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
}

.product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1051px) {
  .product-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
}

@media (max-width: 850px) {
  .product-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media (max-width: 585px) {
  .product-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
}

.product {
  position: relative;
  margin-bottom: 39px;
  width: 263px;
  height: 364px;
  text-transform: uppercase;
}

.product_last {
  display: none;
}

@media (max-width: 1051px) {
  .product_last {
    display: block;
  }
}

@media (max-width: 850px) {
  .product_last {
    display: none;
  }
}

@media (max-width: 850px) {
  .product_catalogPage:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/span 2;
  }
}

@media (max-width: 585px) {
  .product_catalogPage:last-child {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.product__img {
  width: inherit;
  background-color: #ccc;
}

.product:hover .product__img {
  -webkit-transition: -webkit-filter .3s;
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s, -webkit-filter .3s;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.product:hover .product__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__add {
  position: absolute;
  top: 97px;
  left: 70px;
  height: 39px;
  width: 123px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
  font-weight: bold;
  color: white;
  background: none;
  border: 1px solid white;
}

.product__add:hover {
  -webkit-box-shadow: 0 0 5px white;
          box-shadow: 0 0 5px white;
  color: #a8a8a8;
}

.product__add img {
  margin-right: 8px;
}

.product__text {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  margin: 19px 14px 17px 14px;
}

.product__text a {
  color: #222222;
}

.product__text a:hover {
  color: #f16d7f;
}

.product__price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  margin-left: 14px;
  margin-right: 14px;
}

.product:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.browse_box {
  margin-top: 79px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.browse_box__button {
  width: 210px;
  height: 46px;
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  font-size: 16px;
  line-height: 53px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.browse_box__button i {
  margin-left: 9px;
  margin-top: 2px;
}

.browse_box__button:hover {
  background-color: white;
  color: #f16d7f;
}

.offer_box {
  margin-top: 113px;
  margin-bottom: 97px;
  height: 529px;
}

@media (max-width: 948px) {
  .offer_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: inherit;
  }
}

.offer_box__left {
  position: relative;
  height: inherit;
  width: 67%;
  background: url(img/offer_banner.png) no-repeat center;
}

@media (max-width: 948px) {
  .offer_box__left {
    width: 100%;
    height: 300px;
    background-size: 100%;
    background-position-y: 30%;
  }
}

.offer_box__left img {
  position: absolute;
  height: inherit;
  width: inherit;
}

.offer_box__left__text {
  position: absolute;
  margin-top: 146px;
  margin-left: 39px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.offer_box__left__text__top {
  font-size: 53.7px;
}

.offer_box__left__text__top span {
  color: #f16d7f;
}

.offer_box__left__text__bot {
  font-size: 32.2px;
}

.offer_box__right {
  position: relative;
  background-color: #222224;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 48px 36px 48px 43px;
}

@media (max-width: 948px) {
  .offer_box__right {
    width: 100%;
    padding: 30px;
    display: -ms-grid;
    display: grid;
  }
}

.offer_box__right__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer_box__right__box__img1 {
  margin-right: 33px;
  width: 45px;
  height: 32px;
}

.offer_box__right__box__img2 {
  margin-right: 37px;
  width: 40px;
  height: 40px;
}

.offer_box__right__box__img3 {
  margin-right: 34px;
  width: 47px;
  height: 35px;
}

.offer_box__right__box__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.offer_box__right__box__text h2 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 17px;
}

@media (max-width: 1001px) {
  .offer_box__right__box__text h2 {
    font-size: 17px;
  }
}

.sub_box {
  height: 438px;
  background-color: #f7f7f8;
  background-image: url(img/footer_bgr.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 638px) {
  .sub_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.sub_box__left {
  width: 49.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 111px;
}

@media (max-width: 638px) {
  .sub_box__left {
    margin-top: 40px;
    width: auto;
  }
}

.sub_box__left__text {
  margin-left: 28px;
  margin-bottom: 19px;
}

.sub_box__left__text_top1 {
  padding-right: 15px;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
}

@media (max-width: 638px) {
  .sub_box__left__text_top1 {
    width: auto;
    height: auto;
  }
}

.sub_box__left__text_bot {
  margin-bottom: 41px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222224;
}

.sub_box__left__text_bot::first-line {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

.sub_box__left__btnsbox {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub_box__left__btns {
  width: 38px;
  border-bottom: 4px solid #d6d6d6;
  cursor: pointer;
  -webkit-transition: border-bottom 0.3s linear;
  transition: border-bottom 0.3s linear;
}

.sub_box__left__btns:hover {
  border-bottom: 4px solid #f16d7f;
}

.sub_box__left__btns:hover .sub_box__left__text_top1 {
  border-bottom: 4px solid #f16d7f;
}

.sub_box__right {
  width: 50%;
  border-left: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 638px) {
  .sub_box__right {
    border: 0;
    margin-top: 20px;
    padding-bottom: 40px;
    width: auto;
  }
}

.sub_box__right__text {
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
}

.sub_box__right__text::first-line {
  font-size: 24px;
}

.sub_box__right__input {
  font-family: lato, sans-serif;
  margin-top: 35px;
  width: 278px;
  height: 46px;
  background-color: #e1e1e1;
  border-radius: 23px 0px 0px 23px;
  border: 0px;
  padding: 0px 28px 0px 28px;
}

@media (max-width: 918px) {
  .sub_box__right__input {
    width: auto;
  }
}

.sub_box__right__input::-webkit-input-placeholder {
  font-family: lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
}

.sub_box__right__button {
  width: 102px;
  height: 46.5px;
  margin-left: -3px;
  padding-top: 0px;
  background-color: #f16d7f;
  border-radius: 0px 23px 23px 0px;
  border: 1px solid #f16d7f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.sub_box__right__button:hover {
  background-color: #eeeeeebe;
  color: #f16d7f;
}

.footer {
  margin-top: 123px;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 828px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__top__left__text {
  margin-top: 41px;
  width: 427px;
  height: 180px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
  overflow: auto;
}

@media (max-width: 828px) {
  .footer__top__left__text {
    width: auto;
  }
}

.footer__top__left__text::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.footer__top__left__text::-webkit-scrollbar-button {
  background-color: #a8a8a8;
}

.footer__top__left__text::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: #a8a8a8;
  border-radius: 3px;
}

.footer__top__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 608px;
}

@media (max-width: 828px) {
  .footer__top__right {
    width: auto;
    margin-top: 15px;
  }
}

.footer__top__right__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__top__right__text p {
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
}

@media (max-width: 425px) {
  .footer__top__right__text p {
    font-size: 14px;
  }
}

.footer__top__right__text a {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
}

.footer__top__right__text a:hover {
  color: #f16d7f;
}

@media (max-width: 425px) {
  .footer__top__right__text a {
    font-size: 14px;
  }
}

.footer__bot {
  margin-top: 89px;
  height: 79px;
  background-color: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 425px) {
  .footer__bot {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 15px;
  }
}

.footer__bot a i {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  color: #b2b2b2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.footer__bot a i:hover {
  background-color: #f16d7f;
  color: #f7f7f8;
}

.footer__bot__text {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}

/* --- for cart.html --- */
.breadcrumb {
  height: 148px;
  background-color: #f8f3f4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumb__left {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  color: #f16d7f;
}

@media (max-width: 405px) {
  .breadcrumb__left {
    font-size: 20px;
  }
}

.breadcrumb__right {
  color: #636363;
}

.breadcrumb__right a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}

.breadcrumb__right a:hover {
  color: #f16d7f;
  font-weight: 700;
}

.cart_main {
  margin-top: 90px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 97px;
}

.cart_main__names {
  padding-bottom: 20px;
  border-bottom: 1px solid #c0c0c0;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #222222;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
}

.cart_main__names div:not(:first-child) {
  text-align: center;
}

.cart_main__box {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c0c0c0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #656565;
}

.cart_main__box__right__button {
  color: #656565;
  background: none;
  border: none;
  cursor: pointer;
}

.cart_main__box__right__button:hover {
  color: #f16d7f;
}

.cart_main__box input {
  width: 54px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding: 0px 0px 0 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-column-align: center;
      justify-self: center;
}

.cart_main__box__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.cart_main__box__left a {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.cart_main__box__left a:hover {
  color: #f16d7f;
}

.cart_main__box__left__text {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #575757;
  margin-top: 38px;
}

.cart_main__box__left__text span {
  font-weight: 300;
  color: #6f6e6e;
}

.cart_main__box__left__textbox {
  margin: 0 21px 22px 21px;
}

.cart_main__buttonsbox {
  margin-top: 49px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 544px) {
  .cart_main__buttonsbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120px;
  }
}

.cart_main__buttonsbox a, .cart_main__buttonsbox button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.cart_main__buttonsbox a:hover, .cart_main__buttonsbox button:hover {
  border: 1px solid #f16d7f;
  color: #f16d7f;
}

.cart_main__buttonsbox a {
  width: 233px;
  height: 48px;
}

.cart_main__buttonsbox button {
  width: 235px;
}

.cart_main__orderbox {
  margin-top: 63px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .cart_main__orderbox {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .cart_main__orderbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cart_main__orderbox__left, .cart_main__orderbox__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart_main__orderbox__left input, .cart_main__orderbox__center input {
  margin-bottom: 20px;
  height: 45px;
}

@media (max-width: 768px) {
  .cart_main__orderbox__left input, .cart_main__orderbox__center input {
    width: auto;
  }
}

.cart_main__orderbox__left select, .cart_main__orderbox__center select {
  margin-bottom: 20px;
  width: 351px;
  height: 49px;
}

@media (max-width: 768px) {
  .cart_main__orderbox__left select, .cart_main__orderbox__center select {
    width: auto;
  }
}

.cart_main__orderbox__left span, .cart_main__orderbox__center span {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 22px;
}

.cart_main__orderbox__left button, .cart_main__orderbox__center button {
  padding: 12px 0px;
  width: 100px;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.cart_main__orderbox__left button:hover, .cart_main__orderbox__center button:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.cart_main__orderbox__center {
  margin: 0 35px 0 35px;
}

@media (max-width: 768px) {
  .cart_main__orderbox__center {
    margin: 25px 0;
  }
}

.cart_main__orderbox__center button {
  width: 118px;
}

.cart_main__orderbox__center h1 {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
}

.cart_main__orderbox__right {
  padding: 0 40px;
  height: 214px;
  background-color: #f5f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  .cart_main__orderbox__right {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    margin-top: 15px;
  }
}

.cart_main__orderbox__right__texttop {
  font-size: 11px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #4a4a4a;
}

.cart_main__orderbox__right__brd {
  width: 275px;
  border-bottom: 1px solid #e2e2e2;
  margin-top: 22px;
  margin-bottom: 17px;
}

.cart_main__orderbox__right a {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  width: 273px;
  height: 48px;
  border: 1px solid #f16d7f;
  background-color: #f16d7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.cart_main__orderbox__right a:hover {
  background-color: #f5f3f3;
  color: #f16d7f;
}

.cart_main__orderbox__right__text {
  margin-top: 14px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.cart_main__orderbox__right__text span {
  color: #f16d7f;
}

/* --- for product.html --- */
.product__text-var a {
  color: #6f6e6e;
}

.bottom_text {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  margin-top: 119px;
  text-align: center;
}

.product_bottom {
  margin: 72px 0 73px 0;
}

.product_main_box {
  background-color: #f7f7f7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 11px 0 42px 0;
}

.product_main_box__slider img {
  -o-object-fit: cover;
     object-fit: cover;
}

.product_choose_box {
  z-index: 1;
  margin-top: -86px;
  width: 1141px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1146px) {
  .product_choose_box {
    padding: 0 20px 20px;
  }
}

@media (max-width: 710px) {
  .product_choose_box {
    width: auto;
  }
}

.product_choose_box__text {
  width: 642px;
  border-bottom: 1px solid #eaeaea;
  line-height: 24px;
  text-align: center;
}

@media (max-width: 710px) {
  .product_choose_box__text {
    width: auto;
  }
}

.product_choose_box__text h1 {
  font-size: 14px;
  font-weight: 700;
  color: #f16d7f;
  width: 147px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 15px;
  margin: 73px auto 15px;
}

.product_choose_box__text__sp {
  width: 63px;
  border-bottom: 3px solid #ef5b70;
  position: absolute;
  margin-left: 290px;
  margin-top: -17px;
}

.product_choose_box__text h2 {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
}

.product_choose_box__text p {
  font-size: 14px;
  font-weight: 300;
  color: #5e5e5e;
  margin: 67px 0 28px;
}

.product_choose_box__text h3 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #ef5b70;
  margin: 37px 0 43px;
}

.product_choose_box__text__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 334px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.product_choose_box__text__bottom h4 {
  font-weight: 700;
  color: #b9b9b9;
  font-size: 14px;
}

.product_choose_box__text__bottom h4 span {
  color: #2f2f2f;
}

.product_choose_box__bottom {
  margin: 63px 0 28px;
  width: 537px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 609px) {
  .product_choose_box__bottom {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product_choose_box__bottom div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 609px) {
  .product_choose_box__bottom div :nth-child(2) {
    margin: 15px 0;
  }
}

.product_choose_box__bottom__quan, .product_choose_box__bottom label {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #2f2f2f;
}

.product_choose_box__bottom details, .product_choose_box__bottom input {
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  padding: 0px 12px 0 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Lato, sans-serif;
  margin-top: 16px;
}

@media (max-width: 609px) {
  .product_choose_box__bottom details, .product_choose_box__bottom input {
    width: auto;
  }
}

.product_choose_box__bottom__open {
  border: 1px solid #eaeaea;
  background-color: white;
  width: 132px;
  padding-left: 10px;
  margin-left: -13px;
  margin-top: 4px;
}

.product_choose_box__bottom__open div:hover {
  color: #ef5b70;
}

.product_choose_box__bottom__button {
  margin-bottom: 102px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 537px;
  height: 55px;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #ef5b70;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

@media (max-width: 609px) {
  .product_choose_box__bottom__button {
    width: auto;
    padding: 0 20px;
  }
}

.product_choose_box__bottom__button img {
  margin-right: 15px;
}

.product_choose_box__bottom__button__noneCart {
  display: none;
  width: 30px;
  height: 29px;
  position: absolute;
  margin-left: -49px;
}

.product_choose_box__bottom__button:hover {
  color: white;
  background-color: #ef5b70;
}

.product_choose_box__bottom__button:hover .product_choose_box__bottom__button__noneCart {
  display: block;
}

details .product_choose_box__bottom__summary:after {
  content: '\f106';
  font-family: "Font Awesome 5 free";
  font-weight: 600;
  color: #a4a4a4;
  float: right;
  margin-top: 1px;
}

details[open] .product_choose_box__bottom__summary:after {
  content: '\f107';
  font-weight: 600;
}

details .product_choose_box__bottom__summary::-webkit-details-marker {
  display: none;
}

/* --- for catalog.html --- */
.catalog-box {
  margin-top: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .catalog-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.catalog__summary {
  display: block;
  width: 243px;
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
  line-height: 20px;
  text-transform: uppercase;
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #eaeaea;
  padding: 12px;
  cursor: pointer;
  outline: none;
  margin-right: 49px;
}

@media (max-width: 1024px) {
  .catalog__summary {
    width: auto;
    margin: 0;
  }
}

.catalog__summary__open {
  padding: 10px 17px 22px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog__summary__open a {
  font-size: 14px;
  line-height: 33px;
  color: #6f6e6e;
  font-weight: 400;
}

.catalog__summary__open a:hover {
  color: #f16d7f;
}

details .catalog__summary:after {
  content: '\f0d8';
  font-family: "Font Awesome 5 free";
  font-weight: 600;
  color: #f16d7f;
  float: right;
  margin-top: 1px;
}

details[open] .catalog__summary:after {
  content: '\f0d7';
  font-weight: 600;
}

details .catalog__summary::-webkit-details-marker {
  display: none;
}

.catalog_main__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 585px) {
  .catalog_main__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 120px;
  }
}

.catalog_main__bottom__pagination {
  height: 44px;
  width: 261px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog_main__bottom__pagination a {
  font-size: 16px;
  font-weight: 300;
  color: #c4c4c4;
  line-height: 26px;
}

.catalog_main__bottom__pagination a:hover {
  color: #f16d7f;
}

.catalog_main__bottom__link {
  height: 44px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 300;
  color: #f16d7f;
  line-height: 26px;
  border: 1px solid #f16d7f;
  border-radius: 3px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.catalog_main__bottom__link:hover {
  color: white;
  background-color: #f16d7f;
}

.catalog_promo {
  margin-top: 110px;
  height: 341px;
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 585px) {
  .catalog_promo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 450px;
    padding: 20px 65px;
  }
}

@media (max-width: 348px) {
  .catalog_promo {
    padding: 20px 45px;
  }
}

.catalog_promo__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 137px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter_box {
  margin: 0 0 48px 0;
}

.filter_box__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #6f6e6e;
}

@media (max-width: 867px) {
  .filter_box__top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    margin-top: 20px;
  }
}

@media (max-width: 585px) {
  .filter_box__top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.filter_box__top h2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.filter_box__top__left__link-box {
  width: 176px;
}

@media (max-width: 585px) {
  .filter_box__top__left__link-box {
    width: auto;
  }
}

.filter_box__top__left__link-box a {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
  margin-top: 25px;
  margin-right: 5px;
}

.filter_box__top__left__link-box a:not(:last-child) {
  border-right: 1px solid #6f6e6e;
  padding-right: 10px;
}

.filter_box__top__left__link-box a:hover {
  color: #f16d7f;
}

.filter_box__top__center__checkbox-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65px 65px 65px 65px;
      grid-template-columns: 65px 65px 65px 65px;
  -ms-grid-rows: 30px;
      grid-template-rows: 30px;
}

.filter_box__top__center label {
  cursor: pointer;
}

.filter_box__top__right {
  width: 33%;
}

@media (max-width: 867px) {
  .filter_box__top__right {
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media (max-width: 585px) {
  .filter_box__top__right {
    grid-column: auto;
    margin-top: 20px;
  }
}

.filter_box__top__right__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 26px;
}

.filter_box__top__right input {
  width: 262px;
}

@media (max-width: 867px) {
  .filter_box__top__right input {
    width: 100%;
  }
}

.filter_box__bottom {
  margin-top: 42px;
  background-color: #f3f3f3;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter_box__bottom label {
  background-color: white;
  font-size: 14px;
  color: #6f6e6e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 32px;
  padding: 6px 7px 7px 12px;
  border-radius: 2px;
  border: 1px solid #ebebeb;
}

.filter_box__bottom label:first-of-type {
  margin-left: 10px;
}

.filter_box__bottom input {
  height: 30px;
  width: 66px;
  margin-left: -2px;
  padding: 0 10px;
  border: 1px solid #ebebeb;
}

.filter_box__bottom input:first-of-type {
  margin-right: 10px;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #ececec;
  margin-right: 9px;
  margin-bottom: -2px;
  cursor: pointer;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

/* для элемента input c type="checkbox" */
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #868686;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
  background-color: #f16d7fa6;
  border-color: #f16d7fa6;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked + label::before {
  border-color: #f16d7f;
  background-color: #f16d7f;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

/* --- for catalog.html --- */
.checkout_box {
  margin: 53px 0 93px 0;
}

.checkout_summary {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
  padding: 33px 0;
}

.checkout_summary__open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
  padding: 0 0 69px 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 722px) {
  .checkout_summary__open {
    padding: 0 0 45px 20px;
  }
}

@media (max-width: 425px) {
  .checkout_summary__open {
    padding: 0 0 45px 0;
  }
}

.checkout_summary__open__left__radio_box {
  margin: 31px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 44px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout_summary__open__left__radio_box label {
  margin-top: -2px;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 722px) {
  .checkout_summary__open__right {
    margin-top: 20px;
    width: 90%;
  }
}

@media (max-width: 722px) {
  .checkout_summary__open__right form {
    margin-top: 25px;
  }
}

.checkout_summary__open__right input {
  height: 45px;
  width: 360px;
  border: 1px solid #eaeaea;
  margin: 4px 0 11px 0;
  padding: 0 15px;
  font-family: lato, sans-serif;
  color: #a4a4a4;
}

@media (max-width: 722px) {
  .checkout_summary__open__right input {
    width: 100%;
  }
}

.checkout_summary__open__right a {
  font-size: 14px;
  color: #222222;
  line-height: 20px;
  font-weight: bold;
  margin-left: 32px;
}

@media (max-width: 425px) {
  .checkout_summary__open__right a {
    margin: 15px 0 0 0;
  }
}

.checkout_summary__open__right a:hover {
  color: #f16d7f;
}

.checkout_summary__open__right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}

@media (max-width: 425px) {
  .checkout_summary__open__right div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    float: left;
  }
}

.checkout_summary__open h3 {
  font-size: 12px;
  color: #222222;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.checkout_summary__open h3 span {
  color: red;
}

.checkout_summary__open h2 {
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
}

.checkout_summary__open p {
  font-size: 13px;
  color: #b3b2b2;
  line-height: 20px;
}

.checkout_summary__open p:nth-of-type(2) {
  margin-bottom: 33px;
}

.checkout_summary__open p span {
  color: red;
}

.checkout_summary__open button {
  height: 50px;
  width: 180px;
  background-color: white;
  border: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  text-transform: uppercase;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.checkout_summary__open button:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.button-var {
  margin-top: 38px;
}

details[open] .checkout_summary {
  border-bottom: 1px solid white;
}

details .checkout_summary::-webkit-details-marker {
  display: none;
}

/* --- стили для radio catalog.html --- */
.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}

.radio + label {
  cursor: pointer;
}

.radio:not(checked) {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 28px;
}

.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #555555;
  border-radius: 50%;
  background: #FFF;
}

.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: black;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.radio:checked + label:after {
  opacity: 1;
}

/* --- --------------------- --- */
/* --- стили для анимации catalog.html --- */
.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

/* --- --------------------- --- */
.slide-img {
  height: 724px;
}

/* --- for slider --- */
.slider_box {
  position: relative;
}

.slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 47px;
  width: 47px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  background-color: rgba(42, 42, 42, 0.15);
  cursor: pointer;
}

.slider-arrows {
  position: absolute;
  top: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/* --- --------------------- --- */
/*# sourceMappingURL=style.css.map */